@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Crimson+Text:ital,wght@0,400;0,600;1,600&family=Domine:wght@400..700&family=Exo:ital,wght@0,100..900;1,100..900&family=Fredoka:wght@300..700&family=Gilda+Display&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Jost:ital,wght@0,100..900;1,100..900&family=Karla:ital,wght@0,200..800;1,200..800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Inter;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color:#8EADD5
}

header{

    nav{
        padding: 46px 176px !important;
    }
    .hero{
        padding: 46px 176px !important;

        h1{
            font-size: 64px;
        }
        
    }
   
    .color-p{
        color: #667085;
        font-weight: 300;
    }

}
button{
    background-color: var(--main-color);
    width: 167px;
}

.section-one{
   background-color: #F6F6F6;
   margin: 12px 265px;
    img{
        height:48px ;
    }
}
.system{
    margin: 100px 167px;
}


.carousel-indicators [data-bs-target] {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: transparent; /* بدون خلفية */
    border: 3px solid #8EADD5;      
    opacity: 1;        
  }
  
  .carousel-indicators .active {
    background-color: #8EADD5 !important; 
    border-color: #8EADD5 !important;    
  }
  .carousel {
    padding-bottom: 40px;
  }
  .end-section {
    margin: 46px 176px !important;
    background-color: #F6F6F6;
  }
  footer{
    margin: 46px 176px !important;
    .footer-all{
       width: 190px;

    }
  }
  
    
@media screen and (max-width:992px) {
   
    header{
        nav{
            padding: 40px 20px !important; 
             
        }
        .hero{
            padding: 46px 20px !important;
            h1{
                font-size: 40px;
            }
            img{
                width: 358px;
                height: 358px;
            }
        }
    }
    .section-one{
        width: 380px;
        height: 86px;
        margin: 12px 20px 12px 20px;
        padding: 27px;
            img{
            width: 70px;
            height: 37px;
            }
    }
    .system{
        margin: 50px 0px; 
        h1{
            font-size: 32px;
        }
        .img-system{
            img{
               width: 375px ;
                height: 384px;
            }
        }
        .text-system{
           .arrow{
            width: 22px;
            display: none;
           }
        }
    }

    .carousel-item .testimonial-card {
        display: none;
      }
    
      .carousel-item.active .testimonial-card:first-child {
        display: block;
        margin: auto;
      }
      .end-section {
        margin: 46px 20px !important;
    }
    footer{
        margin: 46px 20px !important;
        .footer-all{
            width: inherit;
        .Building{
            margin: 0px 80px;
        }
         }
      
    }

}

   
  